@import "tailwindcss";

@layer theme {
  :root {
    --font-epilogue: 'Epilogue', sans-serif;
    --shadow-secondary: 10px 10px 20px rgba(2, 2, 2, 0.25);
  }
}

@theme inline {
  --font-epilogue: 'Epilogue', sans-serif;
  --shadow-secondary: 10px 10px 20px rgba(2, 2, 2, 0.25);
}